<a href="https://colab.research.google.com/github/SebastienBienfait/L2C-Data-managment/blob/main/Data_jobs_jobsinkent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

base_url = "https://jobsinkent.com/search?q=Data&pl=1" #&start=0

def get_html(url):
    #agent = {"User-Agent":"Mozilla/5.0"}
    page = requests.get(url) #, headers = agent

    soup = BeautifulSoup(page.content, 'html.parser') # 
    return soup

def clean_bloat(text):
  strip1 = text.strip("\n")
  strip2 = strip1.strip(" ")
  strip3 = strip2.strip("\n")
  return strip3

def find_jobs_iterate(url):
  jobsinkent_df = pd.DataFrame(columns = ["job_title", "company", "salary", "contract", "location"])
  site_html = get_html(url)
  results = site_html.find(class_="mt-2 lg:mt-0")

  job_cards = results.find_all(class_="flex mb-2 border-black-900 rounded-md border-x-4 sm:rounded-lg")

  for job in job_cards:
    job_title = job.find(class_="lg:text-2xl text-xl leading-6 font-bold hover:underline-offset-4").text
    company_name = job.find(class_="mt-0 mb-2 max-w-2xl text-sm text-black").text
    info_list = job.find_all(class_="col-span-12")# truncate mt-1 max-w-2xl text-sm text-black flex items-center")
    salary = clean_bloat(info_list[0].text)
    contract = clean_bloat(info_list[1].text)
    location = clean_bloat(info_list[2].text)


    new_row = {"job_title":job_title, "company":company_name, "salary":salary, "contract":contract, "location":location}

    jobsinkent_df = jobsinkent_df.append(new_row,ignore_index = True)

    print("\n")
  #print(job_cards.prettify())

  #return id_list
  return jobsinkent_df

jobsinkent_df = find_jobs_iterate(base_url)

In [ ]:
print(salary, contract, location)
print(list(salary.strip("\n")))
print(list(contract))
print(list(location))
strip1 = salary.strip("\n")
strip2 = strip1.strip(" ")
#print(strip1)
#print(list(strip2))

 Negotiable
  permanent,full-time
  Central London, Greater London

['\xa0', 'N', 'e', 'g', 'o', 't', 'i', 'a', 'b', 'l', 'e']
['\xa0', 'p', 'e', 'r', 'm', 'a', 'n', 'e', 'n', 't', ',', 'f', 'u', 'l', 'l', '-', 't', 'i', 'm', 'e', '\n']
['\xa0', 'C', 'e', 'n', 't', 'r', 'a', 'l', ' ', 'L', 'o', 'n', 'd', 'o', 'n', ',', ' ', 'G', 'r', 'e', 'a', 't', 'e', 'r', ' ', 'L', 'o', 'n', 'd', 'o', 'n', '\n']

In [ ]:
display(jobsinkent_df)

,job_title,company,salary,contract,location
0,Senior Data Analyst,Clarion Housing Group Ltd,£43264 - £59488 per annum,"permanent,full-time","Central London, Greater London"
1,Junior Data Analyst - MS SQL & Excel,Pearson Whiffin Recruitment,£22000 - £27500 per annum + Excellent Benefits,"permanent,full-time","Dover, Kent"
2,Data Protection & Governance Manager,Atlas Recruitment Group,£50000 - £55000 per annum + Bonus,"permanent,full-time","Hastings, Sussex"
3,"Data Scientist - AI, Python, Machine Learning,...",Jump IT Recruitment Solutions Limited,£35K-£90K+Bens+,"permanent,full-time",Work from home
4,Financial Data Entry,Huntress,Negotiable,"temporary,full-time","West Malling, Kent"
5,Data Lead (Digital Marketing),Recruitment Solutions Folkestone Ltd,"£30-40,000 dep on exp","permanent,full-time","Ashford, Kent"
6,Data Analyst,MW Appointments,Up to £35000.00 per annum,"permanent,full-time","City of London, Greater London"
7,Data Entry Sage,Recruitment Solutions Folkestone Ltd,£9.50 per hour x 37 hours per week,"temporary,full-time","Folkestone, Kent"
8,Finance Data & Systems Lead,Hays Specialist Recruitment Ltd,"£60000.00 - £65000.00 per annum + parking, fl...","permanent,full-time",South West London
9,Lecturer/Senior Lecturer in Biological Data Sc...,Canterbury Christ Church University,"£31,342- £45,954","permanent,full-time","Canterbury, Kent"
10,Data Analyst - Apprentice,Clarion Housing Group Ltd,Up to £25000 per annum + excellent benefits,"contract,full-time","Central London, Greater London"
11,Data Analyst,Clarion Housing Group Ltd,£31889 - £44286 per annum + excellent benefits,"temporary,full-time","Central London, Greater London"
12,HE Data Quality & Exams Officer,North Kent College,"£12,810 pro-rata (£21,000 full time equivalent)","permanent,part-time","Tonbridge, Kent"
13,"Data Analyst - Perm, FTC & Apprentice options",Clarion Housing Group Ltd,£31889 - £44286 per annum + excellent benefits,"permanent,full-time","Central London, Greater London"
14,Data Analyst,Commercial Services Interim & Executive Search,£41216 - £47199 per annum,"permanent,full-time","West Malling, Kent"
15,Senior SQL Database Developer,Hays Specialist Recruitment Ltd,£55000.00 - £70000.00 per annum,"permanent,full-time","Sevenoaks, Kent"
16,Digital Analyst/ Data Visualisation Executive,Recruitment Solutions South East Ltd,£30-35000 + benefits; hybrid/remote,"permanent,full-time","Tunbridge Wells, Kent"
17,Data Entry Clerk,Connect2Staff,Up to £10 per hour,"temporary,full-time","Kings Hill, Kent"
18,Data Analyst / Quality Analyst,Pearson Whiffin Recruitment,"£35,000 - £45,000 per annum + Benefits","permanent,full-time","Sevenoaks, Kent"
19,Senior SQL Database Developer,Hays Specialist Recruitment Ltd,£55000.00 - £70000.00 per annum,"permanent,full-time","Tonbridge, Kent"
20,Year 4 Teacher Folkestone,Pearson Whiffin Recruitment,Negotiable,"permanent,full-time","Folkestone, Kent"
21,Accounts Senior,Venrec Recruitment,"up to £38,000","permanent,full-time","Maidstone, Kent"
22,Trainee Loss Adjuster,Venrec Recruitment,"£22,000","permanent,full-time","Bromley, Kent"
23,1st Line IT Support Technician,Venrec Recruitment,"£23,000","permanent,full-time","Maidstone, Kent"
24,Accounts Assistant,Venrec Recruitment,"up to £35,000","permanent,full-time","Maidstone, Kent"
25,Accounts Semi Senior,Venrec Recruitment,"up to £28,000","permanent,full-time","Maidstone, Kent"
26,Senior Lecturer in Policing,Canterbury Christ Church University,"£42,155 - £51,805 per annum","permanent,full-time","Canterbury, Kent"
27,Welfare Labourer - Battle,PW Construction,Negotiable,"permanent,full-time","Battle, Sussex"
28,Administrator,Pearson Whiffin Recruitment,£24500 - £26500 per annum,"permanent,full-time","Hale Street, Tonbridge and Malling, Kent"
29,Part time Account Administrator,Hydraquip Hose & Hydraulics,Salary is subject to experience,"permanent,part-time","Adisham, Canterbury, Kent"
30,Labourer - Battle,PW Construction,Negotiable,"permanent,full-time","Battle, Sussex"
31,3X Labourers - Kingston Upon Thames - ASAP!,PW Construction,Negotiable,"permanent,full-time","Kingston upon Thames, Greater London"
32,2nd Line IT Support Technician,Venrec Recruitment,"£28,000","permanent,full-time","Maidstone, Kent"
33,Year 2 Primary Teacher - Canterbury,Hays Specialist Recruitment,£100.00 - £145.00 per day,"temporary,full-time","Canterbury, Kent"
34,IT Project Manager,CAF,competitive,"contract,full-time","Kings Hill, Tonbridge and Malling, Kent"
35,Senior Data Analyst,Clarion Housing Group Ltd,£43264 - £59488 per annum,"permanent,full-time","Central London, Greater London"
36,Administrator,Pearson Whiffin Recruitment,£18000 - £20000 per annum + DOE,"permanent,full-time","Hastings, Sussex"
37,Employment Engagement Advisor,Venrec Recruitment,"£22,000 + bonus","permanent,full-time","Sittingbourne, Kent"
38,General Yard Operative,New Appointments Group,Up to £9.50 per hour,"temporary,full-time","Sittingbourne, Kent"
39,Administrator - Any other European language re...,Huntress,£22000 - £25000 per annum,"permanent,full-time","Maidstone, Kent"